.question{
  background-color: #5C6B73;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
  border-radius: 25px;
  text-align: left;
}
#basic-body{
  font-family:monospace;
  text-align: center;
  align-content: center;
  padding-top: 1rem;
  /* min-width: 100vw; */
  width: 100%;
  color: black;
  min-height: 100vh;
  height: 100%;
  background-image: linear-gradient(to bottom right, #E0FBFC, #5C6B73);
}
#basic-body Form {
  text-align: right;
  width: 50vw;
  margin:auto;
  padding-bottom: 1rem;
}
#basic-body Form Button{
  border-radius: 10px;
  background-color: #5C6B73;
  border-color: #E0FBFC;
}
#progress-bar-basic{
  position: relative;
  top: -100;
}