@keyframes bounce {
  0% { transform: scale(0); opacity: 0; }
  20% { transform: scale(1); opacity: 1; }
}  

.custom-progress-bar-basic .progress-bar-basic {
  background-color: #DEBFFD !important;
  border-color: #7D4CC5 !important;
}

.button-div {
  background-color: white;
  text-align: center;
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-div:hover {
  background-color: #658cb3;
  color: whitesmoke;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.progress-bar-container-basic {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.progress-bar-basic {
  width: 100%;
  height: 20px; /* adjust as needed */
  background-color: #f3f3f3;
  border-color: #6845BF;
}

.progress-bar-fill-basic {
  height: 100%;
  background-color: #5678a9;
  transition: width 0.5s ease-in-out;
}

.progress-bar-circle-basic {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0c416a;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #6845BF;
  box-sizing: border-box;
  transition: left 0.5s ease-in-out;
}

@keyframes blur-in {
  0% {
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(5px);
  }
}

@keyframes blur-out {
  0% {
    backdrop-filter: blur(5px);
  }
  100% {
    backdrop-filter: blur(0px);
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fade-in {
  animation: fadeIn .75s forwards;
}

.fade-out {
  animation: fadeOut .75s forwards;
}

.icon-check-basic {
  color: white;
  font-size: 10px; /* adjust as needed */
  font-weight: bold;
}