@keyframes bounce {
    0% { transform: scale(0); opacity: 0; }
    20% { transform: scale(1); opacity: 1; }
  }  

.custom-progress-bar .progress-bar-detailed {
  background-color: #DEBFFD !important;
  border-color: #0c416a !important;
}

.button-div {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #7D4CC5;
  transition: background-color 0.3s ease;
}

.button-div:hover {
  background-color: #7D4CC5 !important;
}

.progress-bar-container-detailed {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.progress-bar-detailed {
  width: 100%;
  height: 20px; /* adjust as needed */
  background-color: #f3f3f3;
  border-color: #0c416a;
}

.progress-bar-fill-detailed {
  height: 100%;
  background-color: #7AA2E3;
  transition: width 0.5s ease-in-out;
}

.progress-bar-circle-detailed {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0c416a;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #0c416a;
  box-sizing: border-box;
  transition: left 0.5s ease-in-out;
}

.icon-check-detailed {
  color: white;
  font-size: 10px;
  font-weight: bold;
}