@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import "../fonts/fonts.css";

.alegreya {
  font-family:monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
  font-family: 'Merienda';
  background-image: linear-gradient(to bottom right, #E0FBFC, #5C6B73);
  background-size: 100vw 100vh;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
#home-body{
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
}
#welcome-text{
  color: #253237;
  margin: auto;
  margin-left: 3rem;
  width: 100%;
  display: inline-block;
  z-index: 2;
}
#side-img {
  background-image: url('/src/imgs/tree2v1.1.png');
  background-size: cover; 
  background-position: right; 
  background-repeat: no-repeat; 
  width: 100%; 
  height: 100%; 
  display: block; 
  transform: scaleX(-1);
}
.api-form{
  display: inline-block;
  height: 2rem;
}
button#sbutton{
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: #C0C5C1;
  border: 1px solid transparent;
  padding: 0%;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #5C6B73;
  border-color: #5C6B73;
}
button#sbutton:hover {
  color: #fff;
  background-color: #5C6B73;
  border-color: #C2DFE3;
}
#invalid-api{
  color: #cc0000;
  font-size: 0.7rem;
  margin-top: 1%;
}
input#entry{
  margin-right: 0.5rem;
  width: 50%;
  border: 0;
  outline: 0;
  color: rgb(60, 66, 87);
  background-color: #E0FBFC;
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 4px 8px;
  min-height: 28px;
  vertical-align: middle;
  transition: background-color .24s,box-shadow .24s;
  transition-property: background-color, box-shadow;
  transition-duration: 0.24s, 0.24s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;         
}
input#entry:focus{
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
}
#img1{
  width: 100%;
  width:100%;
  margin: auto;
}
@media screen and (min-width: 1000px) {
  .intro-text {
    max-width: 550px;
  }
}