.loader {
    width: fit-content;
    font-size: 3rem;
    padding-bottom: 1rem;
    background: black;
    animation: moving-bar 2s linear infinite;
  }
  .loader:before {
    content:"Loading..."
  }
  @keyframes moving-bar {to{background-size: 100% 3px}}