.menu-item {
    float: left;
}
.menu-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: relative;
  top:0;
  width: 100%;
  user-select: none;
}
.menu-link{
    color:white;
    text-decoration: none;
    display: block;
}
.menu-item .menu-link{
    display: block;
    color: white;
    padding: 1em;
    text-decoration: none;
    align-items: center;
}
.menu-item .menu-link:hover{
    background-color: gray;
}