.menu-item {
    float: left;
}
.menu-bar {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding-right: 10%;
    overflow: hidden;
    position: relative;
    top:0;
    width: 100%;
    user-select: none;
}
.menu-link{
    color:white;
    text-decoration: none;
    display: block;
}
.menu-item .menu-link{
    display: block;
    color: white;
    padding: 1em;
    text-decoration: none;
    align-items: center;
}
.menu-item .menu-link:hover{
    text-decoration: underline;
}
