.container{
    user-select: none;
    border: gray;
    border-width: 1px;
    border-style: solid;
    height: 100%;
    width: 100ch;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
    color: rebeccapurple;
    display: block;
    width: auto;
    height: auto;
    transition: all .2s ease-in-out;
    background-color: white;
    color:black;
    padding: 1.5em;
    text-align: center;
    animation: bounce 0.7s ease;
}
.container:hover{
    transform: scale(1.01);
    cursor: pointer;
}

@keyframes bounce {
    0% { transform: scale(0); opacity: 0; }
    60% { transform: scale(1.1); opacity: 1; }
    80% { transform: scale(0.9); }
    100% { transform: scale(1); }
  }  

.description{
    text-align: left;
    margin: auto;
    width: 95%;
    height: auto;
    word-wrap: break-word;
}